<google-map width="100%" height="60vh" [zoom]="8" [center]="myPosition()">
    <map-marker [position]="myPosition()" title="string"/>

    @for(country of arrCountries; track country.cca2){
        <map-marker #miMarker="mapMarker" [position]="getPosition(country.latlng)"
           (mapClick)="openInfoWindow(miMarker, infoWindow)" >
           <map-info-window #infoWindow="mapInfoWindow">
            <h5 class="fs-6 m-0">{{ country.name.common }}</h5>
            <hr class="m-1" noshade="noshade">
            <p class="m-1">Número de habitantes: {{ country.population | number }} </p>
            <p class="m-1">Capital: {{ country.capital }} </p>
            <a class="btn btn-sm btn-danger" [routerLink]="['/country', country.cca2]">Ver detalle</a>
           </map-info-window>
        </map-marker>
  
}
  
</google-map>
